#### Problem.  
Use the following characters to create a five-digit word. 
(It doesn't have to be meaningful, and the used characters can be used again.)
{A, B, C, D, E, F, J, K, Q, T, V, W, X, Y, Z}
Find the number of strings that satisfy the following conditions.
1. A and T cannot enter the second position. (For example, BADXY or QTKVZ is not allowed.)
2. E cannot enter the forth position. (For example, BCFEW is not allowed.)
3. A, T, and E must be entered at least one.

In [12]:
# import libraries
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
X = pd.read_csv('strdata.csv')

In [3]:
X.info()
len(X)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759375 entries, 0 to 759374
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   digit1  759375 non-null  object
 1   digit2  759375 non-null  object
 2   digit3  759375 non-null  object
 3   digit4  759375 non-null  object
 4   digit5  759375 non-null  object
dtypes: object(5)
memory usage: 29.0+ MB

759375

In [4]:
# Condition 1
cd1 = X[X['digit2'] != 'A'] # A cannot enter the 2nd position. 
cd1 = cd1[cd1['digit2'] != 'T'] # T cannot enter the 2nd position.

In [5]:
len(cd1)

658125

In [6]:
# Condition 2
cd2 = cd1[cd1['digit4'] != 'E']  #E cannot enter the 4th position.

In [7]:
len(cd2)

614250

In [8]:
# for Condition 3
cd2.to_csv('input/cd2.csv', index=True, header=True) 
cd2 = pd.read_csv('input/cd2.csv')
cd2["strings"] = cd2['digit1'].map(str)+cd2['digit2'].map(str)+cd2['digit3'].map(str)+cd2['digit4'].map(str)+cd2['digit5'].map(str)

In [9]:
# Condition 3
cd3 = cd2[(cd2['strings'].str.contains('A')) & (cd2['strings'].str.contains('E')) & (cd2['strings'].str.contains('T'))]

In [10]:
cd3.to_csv('input/cd3.csv', index=False, header=True)

In [11]:
len(cd3)

5150